/* .hrd-body {
    height: 100vh;
    position: relative;
}
.hrd-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation:  ImageAnimation 30s infinite;
}
.hrd-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
    width: 80%;
    text-align: center;
    gap:30px;
}

.hrd-3iiks {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hrd-dsosl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.hrd-btn {
    width:150px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}

@keyframes ImageAnimation{
    0%{
        background-image: url(../Images/image.jpeg);
        background-color: rgba(0, 0, 0, 0.534);
        background-blend-mode: multiply;
    }
    25%{
        background-color: rgba(0, 0, 0, 0.534);
        background-blend-mode: multiply;
        background-image:  url(../Images/image1.jpeg);
    }
    50%{
        background-color: rgba(0, 0, 0, 0.534);
        background-blend-mode: multiply;
        background-image: url(../Images/image.jpeg);
    }
    75%{
        background-color: rgba(0, 0, 0, 0.534);
        background-blend-mode: multiply;
        background-image:  url(../Images/image1.jpeg);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.534);
        background-blend-mode: multiply;
        background-image: url(../Images/image.jpeg);
    }
  }

  ::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  } */

.hd-sajdj {
  display: flex;
  height: 100vh;
  
}

.hd-gds {
  width: 50%;
  background-image: url(../Images/person.jpeg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.169);
  background-blend-mode: multiply;
}

.hd-ajaj {
    width: 50%;
    display: flex;
    background-color: #0066F5;
    color: #ffffff;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
   
}
.text-heading {
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.text-primary {
    font-family: 'Montserrat';
    width:90%;
    font-size: 25px;
}

.text-tertiary {
    font-size: 25px;
    font-family: 'Montserrat';
}
.button {
    width: 100%;
    display: flex;
    padding: 3rem 0;
    font-family: 'Montserrat';
    color: #0066F5;
    gap: 100px;
}

.hrd-btn {
    width:150px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #0066F5;
}

.hd-dhhsk {
    display: flex;
    font-family: 'Montserrat';
    gap: 10px;
    font-size: 18px;
    align-items: center;

}

.hd-kksml {
    display: flex;
    gap: 30px;
}

.hd-sjajk {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
   
}

.hd-skakka {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0066F5;

}

.hd-gjsj {
    display: flex;
    font-family: 'Montserrat';
    font-size: 16px;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

@media (max-width:1200px) {
    .text-heading {
        font-size: 40px;
        letter-spacing: 2px;
        word-spacing: 3px;
    }
    .text-primary {
        font-family: 'Montserrat';
        width:90%;
        font-size: 18px;
    }
    
    .text-tertiary {
        font-size: 18px;
        font-family: 'Montserrat';
    }

    .hd-kksml {
        display: flex;
        gap: 10px;
    }
    .hd-dhhsk {
        gap: 7px;
        font-size: 15px;
    }
    .hd-gjsj {
        display: flex;
        font-family: 'Montserrat';
        font-size: 14px;
        align-items: center;
        gap: 7px;
        padding: 5px 0;
    }
}