.hrd-body {
    height: 100vh;
    position: relative;
}
.hrd-bg {
    height: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation:  ImageAnimation 30s infinite;
}
.hrd-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
    width: 80%;
    text-align: center;
    gap:30px;
}

.hrd-3iiks {
    width: 100%;
    height: 35%;
    background-image: linear-gradient(to right,#26344f
    ,#fff);
    position: relative;
}



.hrd-person {
    position: absolute;
    bottom: 0;
    height: 550px;
    left: 6%;
    z-index: 100;
}

.hrd-dsosl {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    position: absolute;
    right: 20%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.hrd-btn {
    width:150px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}

@keyframes ImageAnimation{
    0%{
      background-image: linear-gradient(to right bottom,
       rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.338)),
    url(../Images/image.jpeg);
    }
    25%{
        background-image: linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.539),rgba(0, 0, 0, 0.338)),
        url(../Images/image1.jpeg);
    }
    50%{
        background-image:  linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.338)),
        url(../Images/image.jpeg);
    }
    75%{
        background-image:  linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.594),rgba(0, 0, 0, 0.338)),
        url(../Images/image1.jpeg);
    }
    100%{
        background-image:  linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.472),rgba(0, 0, 0, 0.338)),
        url(../Images/image.jpeg);
    }
  }

  ::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }