@media (min-width: 290px) and (max-width:700px) {
    .hrd-header{
       flex-direction: column;
       height: 22vh;
    }
    .hrd-bg {
        display: none !important;
    }

    .hrd-sbhJ {
        margin-right: 0rem;
    }

    .hrd-body {
        height: 79vh;
        margin-left: 0;
        margin: 2rem;
    }

    .hrd-box h2 {
        font-size: 38px;
        line-height: 44px;
        margin-top: 1.5rem;
    }

    .hrd-box h4 {
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        line-height: 30px;
        margin-top: 1rem;
        height: 193px;
    }

    .hrd-buttons {
        width: 100%;
    }

    .hrd-btn {
        width: 167px;
        height: 65px;
    }

    .bg-form-grey {
        padding:0 ;
    }
    
}