@media (min-width: 290px) and (max-width:699px) {
    .hrd-header {
        flex-direction: column;

    }
    .hrd-logo_box {
        width: 140px;
        height: 100%;
    }

    .hrd-sbhJ {
        font-size: 2rem;
        margin-right: 0;
    }


    .hrd-3iiks {
        background-image: linear-gradient(to right,rgba(38, 52, 79, 1)
        ,#fff);
       z-index: 6;

    }

    .hrd-box {
        width: 100%;
        font-size: 10px;
        gap: 10px;
        padding: 0 1rem;
    }

    .hrd-header-mobile {
        font-size: 18px !important;
    }
    .hrd-primary-mobile , .hrd-tertiary-mobile {
        width: 98% !important;
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .hrd-tertiary-mobile {
        font-size: 16px !important;
    }
    .hrd-secondary-mobile {
        font-size: 13px !important;
    }
    
    .hrd-person {
        position: absolute;
        bottom: 30%;
        height: 170px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
    }

    .hrd-dsosl {
        gap: 20px;
        width: 100%;
        right: 0;
        padding: 0 1rem;
        text-align: center;
        font-size: 12px;
    }
    .hrd-btn {
        width: 130px;
        height: 50px;
        font-size: 14px;
    }

    .hrd-padding {
        padding: 0 2rem;
    }
    /* .button {
        justify-content: space-around;
    } */


}

@media (min-width: 700px) and (max-width:900px) {
      
}